* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
    background: #F2F8F7;
    color: #152921;
    font-size: 20px;
    line-height: 1.75em;
}
#app {
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
#app > * {
    margin-bottom: 30px;
}